*.vvp
*.class
Estudo Dirigido/ED01/Extras/.idea/misc.xml
Estudo Dirigido/ED01/Extras/.idea/modules.xml
Estudo Dirigido/ED01/Extras/.idea/vcs.xml
Estudo Dirigido/ED01/Extras/.idea/workspace.xml
Estudo Dirigido/ED01/Extras/Extras.iml
